body{
    margin: 0px;
}
h3{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 50px;
}
p{
    font-family: 'Poppins', sans-serif; 
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.green-color{
    color: green;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.dreams{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.adventure{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.peter-pan{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
}

.experience-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px yellowgreen;
    
}
#captain{
    border-left: 7px solid;
    border-image: linear-gradient(red ,orange);
    border-image-slice: 1;

}
#twinkel{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
